/* General */

html,
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 2;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
}
.no-pad {
  padding: 0;
}

/* Width classes */
.w-min-120 {
  min-width: 120px;
}
.w-max-400 {
  width: 400px;
  max-width: 400px;
}

.w-300 {
  width: 300px;
  max-width: 300px;
}

.w-600 {
  width: 600px;
  max-width: 600px;
}

/* Height classes */
.h-200px {
  height: 200px;
}
.h-250px {
  height: 250px;
}
.h-300px {
  height: 300px;
}
.h-10v,
.h-10 {
  height: 10vh;
}
.h-25v,
.h-25 {
  height: 25vh;
}
.h-50 {
  height: 50vh;
}

/* Font Size classes */
.f-1p5-1p25 {
  line-height: 1.5em;
  font-size: 1.1em;
}

/* Navbar */
.nav-ul {
  display: flex;
  justify-content: space-around;
}
.nav li {
  display: inline-block;
}
.nav-item:hover {
  background-color: rgba(16, 80, 16, 1);
}
.nav-link {
  color: rgba(255, 255, 255, 0.8) !important;
}
.bg-main {
  /* text-shadow: 4px 4px 4px black; */
  background-color: rgba(48, 128, 48, 1);
}
.bg-main-bright {
  /* text-shadow: 4px 4px 4px black; */
  background-color: rgba(64, 176, 80, 1);
}

.text-color {
  color: #308030;
  background: #d0d0d0;
}
.full-screen {
  height: 100vh;
  width: 100vw;
}
.w-12p {
  width: 12vw;
}
.w-15p {
  width: 15vw;
}
.noPBM {
  padding: 0;
  margin: 0;
  border: 0;
}
.modal-background {
  background-color: rgba(0, 192, 240, 0.2);
}

.modal-font {
  font-size: 1.25em;
  line-height: 1.25em;
}
.just-word {
  text-align: justify;
  text-justify: inter-word;
}
@media (min-width: 992px) {
  .nav-item {
    width: 20%;
  }
  .navbar-nav {
    width: 100%;
  }
}
