.landing {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.landing:before {
  content: "";
  position: fixed;
  background: url(../img/landing.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing .card {
  position: absolute;
  top: calc(100vh - 200px);
  left: calc(100vw / 2 - 150px);
  width: 300px;
  height: 180px;
  background-color: rgba(48, 128, 48, 1);
  color: #d0d0d0;
  border-top: solid #605040 0.5em;
  border-left: solid #605040 0.5em;
  filter: drop-shadow(1em 1em 0.5em #605040);
}
.landing .card-body {
  padding: 0.5em;
}
.landing .card button {
  background-color: rgba(16, 104, 16, 1);
  color: white;
}

#intro-button {
  opacity: 0;
}

.intro-text {
  font-size: 0.75em;
  line-height: 1em;
  color: white;
  /* text-shadow: 20px 20px 20px black; */
}
@media (max-height: 812px) {
  .landing .card {
    top: calc(100vh - 240px);
  }
}

@media (min-width: 768px) {
  .intro-text {
    font-size: 1em;
    line-height: 1.25em;
    color: white;
    /* text-shadow: 20px 20px 20px black; */
  }
  .landing .card {
    top: 25vh;
    left: calc(4vw + 20px);
    width: 350px;
    height: 230px;
  }
}

@media (min-width: 992px) {
  .intro-text {
    font-size: 1.1em;
    line-height: 1.35em;
    color: white;
    /* text-shadow: 20px 20px 20px black; */
  }
  .landing .card {
    top: 25vh;
    left: calc(0.2vw + 60px);
    width: 360px;
    height: 260px;
  }
}

@media (min-width: 1200px) {
  .intro-text {
    font-size: 1.5em;
    line-height: 1.8em;
    color: white;
    /* text-shadow: 20px 20px 20px black; */
  }
  .landing .card {
    top: 25vh;
    left: calc(6vw + 30px);
    width: 500px;
    height: 380px;
  }
}
