.information {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.information:before {
  content: "";
  position: fixed;
  background: url(../img/air_cropped.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
