.information {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.information:before {
  content: "";
  position: fixed;
  background: url(../img/air_cropped.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.information .t-color {
  background-color: rgba(48, 128, 48, 1);
  color: white !important;
  opacity: 1;
}
#automation:hover,
#firmware:hover,
#yield:hover,
#publication:hover,
#production:hover,
#patent:hover {
  animation: rotateCC 0.2s linear 0s 1 normal;
}
@keyframes rotateCC {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0);
  }
}
