.kpq-solutions {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.kpq-solutions:before {
  content: "";
  position: fixed;
  background: url(../img/water_cropped.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.kpq-solutions .bg-color {
  background-color: rgba(48, 128, 48, 1);
}
.kpq-solutions .fg-color {
  color: #d0d0d0;
}

/* Project */
#project-0,
#project-1,
#project-2,
#project-3,
#project-4,
#project-5 {
  position: absolute;
  top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* chain */
.chain {
  margin: 0;
}
.chain img {
  height: 100%;
  width: 0.5vw;
}
/* project card */
.project-card {
  position: absolute;
  background-color: rgb(48, 128, 48);
  opacity: 0;
  width: 100%;
}
.project-card img {
  width: 100%;
  height: 100%;
  opacity: 0;
}
