.skills {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.skills:before {
  content: "";
  position: fixed;
  background: url(../img/grass.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.skills .bg-color {
  background-color: rgba(48, 128, 48, 1);
}
.skills .fg-color {
  color: #d0d0d0;
}

/* Golf ball */
#golf-ball:before {
  content: "";
  position: absolute;
  color: white;
}

#golf-ball {
  position: absolute;
}

#golf-ball img {
  height: 4vh;
  width: 4vh;
  border-radius: 2vh;
}

/* Golf Hole */
#golf-hole {
  position: absolute;
  filter: blur(5px) grayscale(50%);
  background: #602020;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
}

/* Golf skills display */
.golf-txt {
  position: absolute;
  height: 5vh;
  width: 0px;
  border-radius: 2.5vh;
  background: #a0a000;
  color: white;
  font-size: 2vh;
  overflow: hidden;
}
.golf-txt p {
  vertical-align: text-bottom;
}

/* Skills card  */
#card-0 {
  position: absolute;
  top: 15vh;
  left: 3vw;
  height: 75vh;
  width: 35vw;
}
#card-0 .card-img {
  width: 15vh;
  height: 15vh;
  margin: 2vh auto 2vh auto;
  object-fit: contain;
}

#card-0 .skills-text button,
#card-0 .skills-text {
  font-size: 2vh;
  line-height: 2.2vh;
  color: white;
  flex: 1 1 auto;
}
#card-0 .skills-text {
  margin: 0.5em;
}
#card-0 .skills-text button,
#card-0 .skills-text p {
  height: 6.5vh;
}
#skills-button {
  opacity: 0;
  background-color: rgba(16, 104, 16, 1);
  color: white;
  border: none;
  margin: 0;
  padding: 0;
}

@media (min-height: 700px) {
  #card-0 .skills-text {
    font-size: 2vh;
    line-height: 1.9vh;
  }
}

@media (min-width: 992px) {
  #card-0 {
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  #card-0 {
    width: 25vw;
  }
}
