#skills-bot {
  position: absolute;
  width: 600px;
  animation: rotation-skills 0.25s linear 0s 8 normal forwards running,
    location 2s linear 0s 1 normal forwards running;
}

#skills-bot .skills-card {
  background-color: rgba(208, 208, 208, 0.2);
  border: 10px outset rgba(164, 144, 108, 0.83);
  border-radius: 20px;
}
#skills-bot img {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: contain;
}
#skills-bot .text-div {
  height: 350px;
  font-size: 1.1em;
  line-height: 1.4em;
  font-weight: bold;
  color: #308030;
  background: #d0d0d0;
}

@keyframes rotation-skills {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes location {
  0% {
    top: 100vh;
    left: 100vw;
  }
  100% {
    top: 20vh;
    left: 10vw;
  }
}
