.webapps {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100vh; */
  z-index: -1;
}

.webapps:before {
  content: "";
  position: fixed;
  background: url(../img/webapps.JPG) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.webapp .t-color {
  background: rgba(48, 128, 48, 1);
  color: white;
}

#ubci .card,
#coininv .card,
#blanda .card,
#kpqsol .card,
#inprogress .card,
#sandbox .card {
  /* height: 300px; */
  width: 300px;
  /* min-height: 350px; */
}
#coininv:hover,
#blanda:hover,
#kpqsol:hover,
#inprogress:hover,
#sandbox:hover,
#ubci:hover {
  animation: rotate 0.2s linear 0s 1 normal;
}

#ubci .card-img,
#coininv .card-img,
#blanda .card-img,
#kpqsol .card-img,
#inprogress .card-img,
#sandbox .card-img {
  width: 300px;
  height: 300px;
  margin: 0;
  object-fit: cover;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
